# modules
node_modules

# environment
.env
.env.default
.env*

# build result
dist
build

# Test
__tests__
jest.config.ts

# Git
.git
.gitignore

# certificate
**/*.pem

# docker
.dockerignore
Dockerfile
docker-compose.yml
docker-entrypoint.sh

# etc
nginx
uploads
README.md
