# Modules
node_modules/

# Build
dist/

# Environment
.env

# Git
.git

# Certificate
./localhost-key.pem
./localhost.pem
./global-bundle.pem
*.pem
*.ppk

# docker
docker-compose.local.yml

# test
test.conf
test.txt
test.json
test.yml
test.xml

# Production
uploads/
